@namespace DarkRepos.Web.Components.Shared
@inherits IconButtonBase

<button type="@ButtonType"
	class="icon-button @VariantClass @SizeClass @CssClass"
	title="@Tooltip"
	disabled="@Disabled"
	@onclick="HandleClick"
	@attributes="AdditionalAttributes">
	<span class="icon" aria-hidden="true">@Icon</span>
	@if (!string.IsNullOrEmpty(Text))
	{
		<span class="btn-text">@Text</span>
	}
</button>
